$def with (songs)
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>树莓派-豆瓣FM</title>
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/common.css">
</head>
<body>
  <nav class="navbar navbar-player">
    <ul class="nav navbar-nav nav-pills">
      <li><a href="/">本地歌曲</a></li>
      <li><a href="/net">网易云音乐</a></li>
      <li class="active"><a href="/douban">豆瓣FM</a></li>
      <li><a href="/player/show">播放列表</a></li>
    </ul>
  </nav>
  <script src="/static/jquery.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  <div class="container">
    <div class="row">
      $for col in songs:
        <div class="btn-group">
        <img src="$col['picture']">
      </div>
    </div>
  </div>
</body>

<script type="text/javascript">
  function play(href, path)
  {
    jQuery.post( href, {'position':'remote', 'path': path});
  }
  function add(href, path, title)
  {
    jQuery.post( href, {'position':'remote', 'path': path, 'title': title, 'action':'add'});
  }
</script>
</html>

