$def with (ll)
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>树莓派播放器</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/common.css">
</head>
<body>
    <nav class="navbar navbar-player" role="navigation">
            <ul class="nav navbar-nav">
                <li><a href="/">歌曲</a></li>
                <li><a href="#">播放列表</a></li>
                <li><a href="#">关于</a></li>
            </ul>
    </nav>
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <div class="container">
        <div class="col-lg-8 col-lg-push-2">

            <table class="table table-striped">
            $for col in ll:
                $if col['playable']:
                    <button type="button" class="btn btn-success btn-block" onclick="javascript:play('$col['href']')">$col['name']</button>
                $else:
                    <button type="button" class="btn btn-default btn-block" onclick="window.location.href='$col['href']';">$col['name']</button>
                    <!-- <tr class="success"><td><a href="$col['href']">$col['name']</a></td></td> -->
            </table>
        </div>
    </div>
</body>

<script type="text/javascript">
    function play(href)
    {
        jQuery.get( href, function( data ) {
        });
    }
</script>
</html>

