$def with (ll)
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>树莓派播放器</title>
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/common.css">
</head>
<body>
  <nav class="navbar navbar-player">
    <ul class="nav navbar-nav nav-pills">
      <li class="active" role="presentation"><a href="/">本地歌曲</a></li>
      <li><a href="/net">网易云音乐</a></li>
      <li><a href="/player/show">播放列表</a></li>
    </ul>
  </nav>
  <script src="/static/jquery.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  <div class="container">
    <div class="row">
    <!-- <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4"> -->
      $for col in ll:
        $if col['playable']:
          <div class="btn-group">
            <button type="button" class="btn btn-success" onclick="javascript:play('$col['href']', '$col['file_path']')">$col['name']</button>
            <button type="button" class="btn btn-default btn-danger btn_add" onclick="javascript:add('$col['addhref']', '$col['file_path']', '$col['name']')">&nbsp;<span class="glyphicon glyphicon-plus"></span>&nbsp;</button>
          </div>
        $else:
          <div class="btn-group">
            <button type="button" class="btn btn-default" onclick="window.location.href='$col['href']';">$col['name']</button>
            <button type="button" class="btn btn-default btn-danger btn_add" disabled="disabled">&nbsp;<span class="glyphicon glyphicon-plus"></span>&nbsp;</button>
          </div>
    <!-- </div> -->
    </div>
  </div>
  <br/>
</body>

<script type="text/javascript">
  function play(href, path)
  {
    jQuery.post( href, {'position':'local', 'path': path});
  }

  function add(href, path, title)
  {
    jQuery.post( href, {'position':'local', 'path': path, 'title':title, 'action':'add'});
  }
</script>
</html>

